TUPLES

Creation of TUPLES

In [7]:
TUPLE=(1,2,3)
print(TUPLE)
print(type(TUPLE))

(1, 2, 3)
<class 'tuple'>

In [8]:
T = ()
i = 0
while i<=4:
    num = int(input("enter the tuple input"))
    T = T + (num,)
    i=i+1
    print(T)

enter the tuple input 2

(2,)

enter the tuple input 22

(2, 22)

enter the tuple input 222

(2, 22, 222)

enter the tuple input 2222

(2, 22, 222, 2222)

enter the tuple input 22222

(2, 22, 222, 2222, 22222)

enter the tuple input 22

(2, 22, 222, 2222, 22222, 22)