TUPLES

Creation of TUPLES

In [ ]:
TUPLE=(1,2,3)
print(TUPLE)
print(type(TUPLE))

In [2]:
my_tuple=(1,"hello",22.23,"shivam")
my_list =[1,2,3,22.22,"shivam"]
print(type(my_list))
print(my_list)
print(my_tuple)
print(type(my_tuple))

<class 'list'>
[1, 2, 3, 22.22, 'shivam']
(1, 'hello', 22.23, 'shivam')
<class 'tuple'>

NESTED TUPLE

In [ ]:
A=('DATA',"DATA1",[1,2,3,4],(1,2,3,4))
print(A)

INDEXING IN TUPLE

In [ ]:
A=(111,112,113,114,115,116)
print(A[0])
print(A[-2])

In [ ]:
A=(111,112,"data","Shivam",114,115,116)
print(A[3])
print(A[-2])

In [ ]:
b=(1,2,3,4,4,5,5,6,67,7,8,99,8,7,6,54,4,4,4,5,5,6,7,7,5)
print(b[8:14])
print(b[:]) # print all tuple list

REVERSE TUPLE

In [ ]:
print(b[::-1])
print(b[3:])
print(b[:3])

TAKE 5 VALUES AS INPUT IN TUPLE

In [3]:
T = ()
i = 0
while i<=5:
    num = int(input("enter the tuple input"))
    T = T + (num,)
    i=i+1
    print(T)

(34,)
(34, 34)
(34, 34, 33)
(34, 34, 33, 22)
(34, 34, 33, 22, 33)
(34, 34, 33, 22, 33, 22)