DAY  11:SETS

In [4]:
a= {"animal","cat"}
print(a)
print(type(a))

{'cat', 'animal'}
<class 'set'>

SETS ITEM ARE UNORDER

In [7]:
a= {"animal","cat","dog","mouse"}
print(a)

{'mouse', 'cat', 'animal', 'dog'}

Duplicate Check

In [9]:
a= {"animal","cat","dog","mouse","cat"}
print(a)

{'mouse', 'cat', 'animal', 'dog'}

TRUE AND 1 CONSIDER AS SAME IN SETS

In [11]:
A= {"animal","cat","dog","mouse",1,2,"cat",True}
print(A)

{1, 'animal', 2, 'dog', 'cat', 'mouse'}

check LENGHT of SETS

In [13]:
L= {"animal","cat","dog","mouse","cat"}
print(L)
print(len(L))

{'mouse', 'cat', 'animal', 'dog'}
4

DATA TYPES IN SETS

In [1]:
datatyp={1,2,1.1,2.4j,"ajay",-5}
print(datatyp)

{1, 2, 1.1, 2.4j, -5, 'ajay'}

WE cant enter list in Sets becuz list are in orderd where as sets are in unorder form

In [3]:
L={1,2,3,[1,2,3]}
print(L)

TypeError: unhashable type: 'list'

TUPLE in SETS

In [4]:
T=(1,12,(10,21))
print(T)

(1, 12, (10, 21))

DICTIONARY IN SETS :not posible bcz of ordeR

In [6]:
D={{"1":"A","2":"B"}}
print(D)

TypeError: unhashable type: 'dict'

SETS IN SETS :NESTING :unorder in unorder list not posible not posible

In [7]:
nest={1,2,2,{1,2,3,4}}
print(nest)

TypeError: unhashable type: 'set'

SETS() CONSTRUCTOR

In [14]:
THECONST=set(("A","B",1,"2"))
print(THECONST)
print(type(THECONST))

{'B', 'A', 1, '2'}
<class 'set'>

EMPTY SETS

In [17]:
a={}
print(a)
print(type(a))


empty=set()
print(type(empty))

{}
<class 'dict'>
<class 'set'>

ACCESS ITEMS

In [20]:
A={"A","B","C","D","E"}
for x in A:
    print(x)

A
E
B
C
D

check item is available

In [23]:
A={"1","2","3","4","E"}
print("2" in A) 
print("d" in A)

True
False

ADD ITEM IN SETS

In [30]:
B={"A","B","C"}
B.add(100-1)
print(B)

{'B', 'A', 99, 'C'}

ADD SET IN ANOTHER SET

In [32]:
A={"A","B"}
B={"C","D"}
A.update(B)
print(A)
print(B)

{'B', 'A', 'C', 'D'}
{'C', 'D'}

REMOVE SET ITEM

In [33]:
A1={"A","B","C","D","E"}
print(A1)
A1.remove("A")
print(A1)

{'A', 'E', 'B', 'C', 'D'}
{'E', 'B', 'C', 'D'}

REMOVE RANDOM ITEM

In [36]:
A2={"A","B","C","D","E"}
print(A2)
X=A2.pop()
print(A2)

{'A', 'E', 'B', 'C', 'D'}
{'E', 'B', 'C', 'D'}

CLEAR SETS

In [37]:
A2={"A","B","C","D","E"}
A2.clear()
print(A2)

set()

DELETE IN SETS

In [39]:
A2={"A","B","C","D","E"}
print(A2)
del A2
print(A2)

{'A', 'E', 'B', 'C', 'D'}

NameError: name 'A2' is not defined

JOIN 2 SETS

In [40]:
A={"A","B","C"}
B={"D","C","E"}
Z=A.union(B)
print(A)
print(B)
print(Z)

{'B', 'A', 'C'}
{'E', 'C', 'D'}
{'A', 'E', 'B', 'C', 'D'}

FIND MIN AND MAX VALUE IN SETS

In [47]:
S={1,2,3,4,5,6,7,8,9}
print("MIN VALUE OF SETS IS")
print(min(S))
print("MAX VALUE OF SETS IS")
print(max(S))

MIN VALUE OF SETS IS
1
MAX VALUE OF SETS IS
9

In [49]:
A={"A","B","C"}
B={"D","C","E"}
S=A.intersection(B)
print(S)

{'C'}