DAY 2 :VARIABLE AND OPERATORS IN PYTHON

In [21]:
a=1
print(a)

1

In [22]:
b,c="Shivam","Mavlankar"
d="."
print(a,d,b,c)

1 . Shivam Mavlankar

LIST, TUPLE , RANGE

In [26]:
LIST=[1,2,3,4,5,6,7]
print(LIST)
print(type(LIST))

[1, 2, 3, 4, 5, 6, 7]
<class 'list'>

In [24]:
TUPLE =(1,2,3,4,5,6,7)
print(TUPLE)
print(type(TUPLE))

(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>

In [25]:
%whos

Variable   Type     Data/Info
-----------------------------
L1         list     n=7
LIST       list     n=7
TUPLE      tuple    n=7
a          int      1
b          str      Shivam
c          str      Mavlankar
d          str      .