USER DEFINE FUNCTION

In [1]:
def my_function():
    print("hello user")

In [2]:
my_function()

hello user

MAKING STUDENT RESULT

In [23]:
def contact():
 print("Contact details of school")
 print("St xavier's High School")
 print("Moira-Goa")
 print("0832-22033322")

In [29]:
 for i in range(2):
     a=input("enter the name of student")
     eng=int(input("enter the marks in English"))
     math=int(input("enter the marks in Maths"))
     sci=int(input("enter the marks in Science"))
     his=int(input("enter the marks in History"))

enter the name of student a
enter the marks in English 45
enter the marks in Maths 45
enter the marks in Science 45
enter the marks in History 45
enter the name of student b
enter the marks in English 45
enter the marks in Maths 65
enter the marks in Science 54
enter the marks in History 56

In [30]:
for i in range(2):
contact()
per()

IndentationError: expected an indented block after 'for' statement on line 1 (2338537737.py, line 2)